:root {
    --branding-color: rgb(75, 137, 55);
    --hover-branding-color: #95ad8d;
    --secondary-color: #95ad8d;
    --base-text-color: #f7f8f7;
    --additional-text-color: #5bf57f;
    --major-background-color: #95ad8d;
    --heading-font-family: "Spartan", sans-serif;
    --default-font-family: "Source Code Pro", monospace;
}

body {
    font-family: var(--default-font-family);
    background: #dadada;
}

.p3 {
    color: #4b8937;
    font-family: "Courier New", Courier, monospace;
    font-weight: normal;
    font-size: 40px;
    text-align: center;
}

h3 {
    color: #3b3939;
    font-family: "Courier New", Courier, monospace;
    font-weight: bold;
}

h2,
h4 {
    color: #4b8937;
    font-family: "Frank Ruhl Libre", serif;
    font-weight: boldd;
}

h1 {
    color: #dadada;
    font-family: "Frank Ruhl Libre", serif;
    font-weight: bold;
}

h1 {
    font-size: 66px;
}

h2 {
    font-size: 64px;
}

h3 {
    font-size: 48px;
}

p {
    font-family: "Frank Ruhl Libre", serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.7;
    color: rgb(75, 137, 55);
}

img {
    border-radius: 10px;
}

a {
    text-decoration: none;
    color: #95ad8d;
    transition: all 100ms ease-in-out;
    font-weight: bold;
    font-size: 20px;
    font-family: "Courier New", Courier, monospace;
}

a:hover {
    color: #9aaef7b0;
}

hr {
    color: #73b0c4;
}

.hero {
    background: var(--secondary-color);
    text-align: center;
    padding: 50px 10px;
    margin: auto;
}

.hero #hello-top {
    font-size: 36px;
    font-weight: bold;
    margin: 9;
    color: #4b8937;
    font-family: "Courier New", Courier, monospace;
}

.hero h2 {
    font-family: "Courier New", Courier, monospace;
    font-weight: bold;
    font-style: italic;
    line-height: 1.5;
    font-size: 24px;
    color: #4b8937;
}

.btn-branding {
    background: var(--branding-color);
    border-radius: 4px;
    color: var(--secondary-color);
    font-family: var(--default-font-family);
    font-size: 18px;
    line-height: 27px;
    padding: 15px 30px;
    transition: all 100ms ease-in-out;
}

.btn-branding:hover {
    background: var(--hover-branding-color);
}

.btn-branding-outline:hover,
footer i:hover {
    background: var(--branding-color);
    color: var(--major-background-color);
}

.project-description {
    padding: 50px 30px;
}

nav {
    padding: 10px 0;
}

nav ul {
    margin: 0;
    padding: 5;
}

nav li {
    display: inline;
    list-style: none;
    line-height: 40px;
    margin-left: 15px;
    border-left: 1px solid var(--hover-branding-color);
    padding-left: 20px;
}

nav a {
    text-decoration: none;
    color: var(--branding-color);
    transition: all 100ms ease-in-out;
}

nav a:hover,
nav li a.active {
    color: black;
}

footer {
    margin: 20px 0 60px;
}

footer .contact-box {
    background: var(--secondary-color);
    padding: 30px 160px;
    border-radius: 10px;
    text-align: left;
}

footer .contact-box p {
    font-size: 18px;
    color: var(--base-text-color);
    margin: 0;
}

footer .email-link {
    text-decoration: none;
    text-align: center;
    color: #f2f79a;
    font-size: 24px;
}

footer .email-link:hover {
    color: #f2f79ab0;
}

footer i {
    color: var(--branding-color);
    border: 1px solid var(--branding-color);
    border-radius: 5px;
    padding: 15px 15px;
    margin: 10px;
    transition: all 100ms ease-in-out;
}

.content-container.container {
    padding: 90px;
}

#about {
    text-align: center;
    font-size: 50px;
    color: #4b8937;
    margin: 350px;
}

#em {
    color: #4b8937;
}

.mb-4 {
    font-family: "Courier New", Courier, monospace;
}

.text {
    font-family: "Courier New", Courier, monospace;
    text-align: center;
}